@import '~bootstrap/scss/bootstrap';

// NAV BAR
header{
    height: 60px;
}

.main-wrapper{
    height: calc(100vh);
    .form-hidden{
        width: 100%;
        border: none;
        &:focus{
            border:none;
            outline: none;
        }
    }
}


// ASIDE
aside{
    width: 250px;
    height: 100%;
    ul{
        list-style: none;
        padding-top:30px;
        a{
            color:white;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}


